.car-adjust{
	width:100%;
	height: 100%;
	}

.font-adj{
	color: white;
	font-size: 120%;
	font-family: 'Fjalla One', sans-serif;
}

#teekaapi{
	color: white;
	font-size: 300%;
	font-family: 'Lobster', cursive;
}
.video-back{
	background-image: url("../images/wallpaper-videos.jpg");
		background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
		
}
.adj-vdo{
	margin-top: 10%;
	margin-left:20%;
}
.download-back{
	background-image: url("../images/background-downloads.jpg");
		background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
		
}
.bio-back
{
	background-image: url("../images/bio-back.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}